.create-user {
    &__container {
        margin: 30px 300px 30px 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 100px;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__input {
        width: 150px;
    }
    &__button {
        width: 150px;
        margin-top: 20px;
    }
    &__alert {
        color:red;
    }
}
