<div class="create-user">
        <form 
            class="create-user__dialog"
            [formGroup]="form"
        >
        <h1>Создание юзера</h1>
            <mat-form-field>
                <mat-label>Name:</mat-label>
                <input matInput placeholder="" formControlName="name">
                <mat-error>Имя введено неправильно</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email:</mat-label>
                <input matInput placeholder="" formControlName="email">
                <mat-error>email введено неправильно</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Website:</mat-label>
                <input matInput placeholder="website" formControlName="website">
                <mat-error>сайт введено неправильно</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Telephone:</mat-label>
                <input matInput placeholder="" formControlName="phone">
                <mat-error>номер введено неправильно</mat-error>
            </mat-form-field>
            <div formGroupName="company">
                <mat-form-field>
                    <mat-label>Company name:</mat-label>
                    <input matInput placeholder="" formControlName="name">
                    <mat-error>компания введено неправильно</mat-error>
                </mat-form-field>
            </div>
                <button type="submit" (click)="submitForm()" matIconSuffix mat-raised-button [disabled]="form.invalid">Create user
                    <mat-icon>add</mat-icon>
                </button>
        </form>
</div>
